openpyxl
langchain
langchain-openai
langchain-community
langgraph
python-dotenv
pypdf
langchain-pinecone
streamlit
langchainhub
sentence_transformers
matplotlib
langchain-chroma
langchain-voyageai
langchain-experimental
docx2txt
llama-index
llama-parse
llama-index-readers-file
llama-index-core
PyPDF2
streamlit_authenticator
plotly